MK_BUNDLE_BUILTIN_LIST=additional-build-files/builtin-extensions.lst
MK_BUNDLE_MIRROR_LIST=additional-build-files/mirror-extensions.lst
MK_BUNDLE_TC_PASSWD=bigsecret
MK_BUNDLE_RE_USE_PREV_DL=no
MK_BUNDLE_TYPE=prod
MK_BUNDLE_TCL_MIRROR_URI=http://localmirror.localdomain/tinycorelinux/4.x/x86/tcz
MK_BUNDLE_TCL_ISO_URL=http://localmirror.localdomain/tinycorelinux/4.x/x86/release/Core-current.iso
MK_BUNDLE_RUBY_GEMS_URL=http://localmirror.localdomain/rubygems/rubygems-1.8.24.tgz
MK_BUNDLE_MCOLLECTIVE_URL=http://localmirror.localdomain/mcollective/mcollective-2.0.0.tgz
MK_BUNDLE_OPEN_VM_TOOLS_URL=http://localmirror.localdomain/Razor-Microkernel/mk-open-vm-tools.tar.gz
MK_BUNDLE_GEM_SERVER_URI=http://localmirror.localdomain:8808/
